.headbar{
    background:black;
    padding:20px;
    text-align:justify;
/* work in progress -alex. add more if u want, but highly likely ill be placing this into the header.js -alex */    

}

/* dont fuck with things that aren't yours, unless they are index.html -alex */

